[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
nltk = "*"
streamlit = "*"
sumy = "*"
scikit-learn = "*"
fastapi = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
